* {margin:0; padding:0; border:0;}

html, body, main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* --- Header Styles --- */
.App-header {
  background-color: #282c34;
  height: 110px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 2em;
}
#logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#logo img {
  width: 150px;
  padding: 5%;
}

h1 {
  font-size: 1em;
  color:#ffffff;
  margin-left: 25px;
  margin-top: 20px;
}

#tagline {
  flex-grow:3;
  display: flex;
}

header button {
  align-self:flex-end;
  width: 80px;
  height: 80px;
  background-color:#282c34;
  position: absolute;
  top: 40px;
  right:20px;
}

/* --- Sidebar Styles --- */
#sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2.5%;
  background-color: #f5f5f5;
  height: calc(100vh - 160px);
  position: absolute;
  overflow: scroll;
  z-index: 1;
  -webkit-transform: translate(300%, 0);
  transform: translate(300%, 0);
  transition: transform 0.3s ease;
}

#sidebar.open {
  -webkit-transform: translate(122.5%, 0);
  transform: translate(122.5%,0);
}

#sidebar #filterResults {
  width: 94%;
  padding: 2%;
}

#search {
  width:100%;
  padding: 3%;
  margin: 2% 0;
  font-size:1em;
}

#filter button {
  height: 80px;
  width: 30%;
  margin: 1%;
  background-color:#282c34;
  color: #ffffff;
}
/* --- Results/ List Styles --- */
#filterResults div {
  margin-top: 20px;
  padding: 2%;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.focus {
  border: 1px solid orange;
  background-color: red;
}

#sidebar  h3 {
  font-size: 1em;
}

#sidebar img {
  width: 100%;
}

#sidebar figcaption {
 font-size: .8em;
 color:#333;
}

#sidebar p {
  font-size: .8em;
}

#sidebar a {
  color:#000000;
  text-decoration:none;
}


/* --- Map Styles --- */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: calc(100vh - 180px); /* header height 130, footer 50 height */
  width: 100%;
  border: 0;
  box-shadow: none;
}

/* --- Footer Styles --- */
footer {
  width: calc(100% - 15px);
  height: 35px;
  padding: 7.5px;
  background-color: #282c34;
}

footer p, footer a {
  text-align: center;
  font-size: .9em;
  color:#ffffff;
  text-decoration:none;
}

footer a:hover, #sidebar a:hover {
  text-decoration: dotted;
  color: orange;
}

/* --- Responsive Sizes --- */

/* Small View */
@media only screen and (max-width: 450px) {
/* --- header --- */
  .App-header {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 2em;
  }
  #logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #logo img {
    width: 100px;
    padding: 5%;
  }
  h1 {
    float: left;
    font-size: .8em;
    margin-left: 5px;
  }
  #tagline {
    flex-grow:1;
    float: left;
    font-size: .8em;
    margin-left: 5px;
    text-align: left;
  }
  header button {
    width: 65px;
    height: 65px;
    top: 12px;
    right:20px;
  }

/* sidebar */
  #sidebar {
    display: flex;
    flex-direction:column;
    width: 95%;
    padding: 2.5%;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }
  #sidebar.open {
    -webkit-transform: translate(125%, 0);
    transform: translate(125%,0);
  }
  #filterResults {
    width: 94%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #filterResults div {
    margin-top: 5px;
    padding: 2%;
    margin: 2%;
    width: 200px;
  }
  #sidebar  h3 {
    font-size: .8em;
  }
  #sidebar img {
    width: 40%;
    float: right;
    margin: 2%;
  }
  #sidebar figcaption {
   display: none;
  }
}

/* Large View */
@media only screen and (min-width: 900px) {
/* sidebar */
  #sidebar {
    display: flex;
    flex-direction:column;
  }
  #filterResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
  }
  #filterResults div {
    margin-top: 5px;
    padding: 2%;
    margin: 2%;
    width: 40%;
  }
}